body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #121212;
}

h1 {
  font-size: 2.5rem;
  color: #c6c2fa;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.8rem;
  color: #f3e8cd;
}

p {
  color: #c6c2fa;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
